@(username: String, websocketURL: String, roomIDs: Set[String])
@*
* The chat interface
* Source: http://bootsnipp.com/snippets/vrzGb
*@

@main("Chat room") {
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/keyboard.css")'>
<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/chat.css")'>
} {
<div class="main-section">
    <div class="container">
        <div class="chat-container">
            <div class="col-sm-3 char-sidebar">
                <div class="row">
                    <div class="hello"><p>Hello @username !</p></div>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="search-query form-control"
                                   placeholder="Search conversation (not implemented)"/>
                            <button class="btn btn-danger" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <div class="member-list">
                        <ul class="list-unstyled">
                            @for(id <- roomIDs) {
                                <li class="left clearfix" id="@id">
                                    <span class="chat-img pull-left">
                                        <img src='@routes.Assets.versioned("images/conversation.jpeg")'
                                             alt="User Avatar"
                                             class="img-circle"
                                        >
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header_sec">
                                            <strong class="primary-font">@id</strong> <strong class="pull-right ">
                                            09:45AM</strong>
                                        </div>
                                        <div class="contact_sec">
                                            <strong class="primary-font">(123) 123-456</strong>
                                            <span class="badge pull-right">3</span>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-9 message-section">
                <div class="row">
                    <div class="new-message-head">
                        <div class="pull-left" id="new-conversation">
                            <button><i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                New Conversation
                            </button>
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="/logout">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="chat-area">
                        <ul class="list-unstyled" id="chat-list">
                        </ul>
                    </div><!--chat-area-->
                    <div class="message-write">
                        <div class="checkbox pull-left">
                            <label><input type="checkbox" id="typeMath">Type math</label>
                        </div>
                        <a href="#" class="pull-right btn btn-primary disabled">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>Add Files
                        </a>
                        <div id="input-area">
                            <textarea class="form-control" placeholder="type a message" id="input-box"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <div class="chat-bottom">
                            <script type="text/javascript"
                                    id="WolframAlphaScriptfbe3e3a58a92f7722e8159ccd44cf39b"
                                    src="//www.wolframalpha.com/widget/widget.jsp?id=fbe3e3a58a92f7722e8159ccd44cf39b">
                            </script>
                        </div>
                    </div>
                </div>
            </div> <!--message-section-->
        </div>
    </div>
</div>
@keyboard()
<script type="text/javascript" src='@routes.Assets.versioned("javascripts/chat.js")'></script>
<script type="text/javascript">
    // tell MathJax to recognize inline math by $ $
    MathJax.Hub.Config({
        tex2jax: {inlineMath: [["$","$"]]}
      });

    // initialize the UI
    init("@websocketURL", "@username");

    $('.chat-area').scrollTop($('.chat-area')[0].scrollHeight);
</script>
}
